{% extends "base_main.html" %}

{% block content %}
    <div class="h-full w-full">
        <!-- main container -->
        <div class="hero-container pt-24">
            <div class="py-10 w-11/12 mx-auto flex flex-wrap flex-col md:flex-row justify-between items-center">
                <div class="md:w-1/2 px-4 mx-auto">
                    <div class="lg:w-5/6 mx-auto text-center md:text-left">
                        <h1 class="text-white font-serif text-4xl md:text-5xl xl:text-6xl font-bold">Write what's in your <span class="text-pinkish">mind.</span> <br /> <span class="ml-6">Express</span> <br class="hidden md:block" /><span class="md:ml-12 uppercase text-blueish underline">yourself.</span></h1>
                    </div>
                </div>
                <div class="md:w-1/2 md:px-4 mx-auto mt-8 md:mt-0">
                    <form class="lg:w-5/6 mx-auto bg-black bg-black bg-t-black lg:bg-t-black px-10 py-4" method="post" action="{{ url_for('users.user_register') }}">
                        <h3 class="px-3 font-serif text-blueish font-bold text-2xl text-center">Create New Account</h3>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                <div class="rounded py-2 px-4 my-1 text-center bg-{{ category }} text-white">
                                    {{ message }}
                                </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        {{ form.hidden_tag() }}
                        <div class="pt-3 flex flex-col flex-wrap">
                            {{ form.username.label(class="text-base md:text-sm lg:text-base font-light text-white font-light text-base text-left mb-1") }}
                            {% if form.username.errors %}
                                {{ form.username(class="px-4 py-2 rounded-full font-bold text-sm placeholder-gray-600 lg:placeholder-whitish lg:placeholder-opacity-50 bg-whitish lg:bg-t-white border-2 border-darkish focus:bg-white focus:border-blueish focus:text-pinkish focus:outline-none lg:focus:placeholder-gray-500 text-black lg:text-white tracking-wide", placeholder="What would be your username?") }}
                                <div class="pt-1 text-redish ">
                                    {% for error in form.username.errors %}
                                    <span class="text-sm">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.username(class="px-4 py-2 rounded-full font-bold text-sm placeholder-gray-600 lg:placeholder-whitish lg:placeholder-opacity-50 bg-whitish lg:bg-t-white border-2 border-darkish focus:bg-white focus:border-blueish focus:text-pinkish focus:outline-none lg:focus:placeholder-gray-500 text-black lg:text-white tracking-wide", placeholder="What would be your username?") }}
                            {% endif %}
                        </div>
                        <div class="pt-3 flex flex-col flex-wrap">
                            {{ form.email.label(class="text-base md:text-sm lg:text-base font-light text-white font-light text-base text-left mb-1") }}
                            {% if form.email.errors %}
                                {{ form.email(class="px-4 py-2 rounded-full font-bold text-sm placeholder-gray-600 lg:placeholder-whitish lg:placeholder-opacity-50 bg-whitish lg:bg-t-white border-2 border-darkish focus:bg-white focus:border-blueish focus:text-pinkish focus:outline-none lg:focus:placeholder-gray-500 text-black lg:text-white tracking-wide", placeholder="Enter your email address") }}
                                <div class="pt-1 text-redish ">
                                    {% for error in form.email.errors %}
                                    <span class="text-sm">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="px-4 py-2 rounded-full font-bold text-sm placeholder-gray-600 lg:placeholder-whitish lg:placeholder-opacity-50 bg-whitish lg:bg-t-white border-2 border-darkish focus:bg-white focus:border-blueish focus:text-pinkish focus:outline-none lg:focus:placeholder-gray-500 text-black lg:text-white tracking-wide", placeholder="Enter your email address") }}
                            {% endif %}
                        </div>
                        <div class="pt-3 flex flex-col flex-wrap">
                            {{ form.password.label(class="text-base md:text-sm lg:text-base font-light text-white font-light text-base text-left mb-1") }}
                            {% if form.password.errors %}
                                {{ form.password(class="px-4 py-2 rounded-full font-bold text-sm placeholder-gray-600 lg:placeholder-whitish lg:placeholder-opacity-50 bg-whitish lg:bg-t-white border-2 border-darkish focus:bg-white focus:border-blueish focus:text-pinkish focus:outline-none lg:focus:placeholder-gray-500 text-black lg:text-white tracking-wide", placeholder="What would be your password?") }}
                                <div class="pt-1 text-redish">
                                    {% for error in form.password.errors %}
                                    <span class="text-sm">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="px-4 py-2 rounded-full font-bold text-sm placeholder-gray-600 lg:placeholder-whitish lg:placeholder-opacity-50 bg-whitish lg:bg-t-white border-2 border-darkish focus:bg-white focus:border-blueish focus:text-pinkish focus:outline-none lg:focus:placeholder-gray-500 text-black lg:text-white tracking-wide", placeholder="What would be your password?") }}
                            {% endif %}
                        </div>
                        <div class="pt-3 flex flex-col flex-wrap">
                            {{ form.confirm_password.label(class="text-base md:text-sm lg:text-base font-light text-white font-light text-base text-left mb-1") }}
                            {% if form.confirm_password.errors %}
                                {{ form.confirm_password(class="px-4 py-2 rounded-full font-bold text-sm placeholder-gray-600 lg:placeholder-whitish lg:placeholder-opacity-50 bg-whitish lg:bg-t-white border-2 border-darkish focus:bg-white focus:border-blueish focus:text-pinkish focus:outline-none lg:focus:placeholder-gray-500 text-black lg:text-white tracking-wide", placeholder="Confirm your password.") }}
                                <div class="pt-1 text-redish">
                                    {% for error in form.confirm_password.errors %}
                                    <span class="text-sm">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.confirm_password(class="px-4 py-2 rounded-full font-bold text-sm placeholder-gray-600 lg:placeholder-whitish lg:placeholder-opacity-50 bg-whitish lg:bg-t-white border-2 border-darkish focus:bg-white focus:border-blueish focus:text-pinkish focus:outline-none lg:focus:placeholder-gray-500 text-black lg:text-white tracking-wide", placeholder="Confirm your password.") }}
                            {% endif %}
                        </div>
                        <div class="pt-3 flex justify-center items-center">
                            {{ form.agree }}
                            {{ form.agree.label(class="ml-2 text-white text-sm truncate") }}<a href="#" class="text-sm ml-1 text-blueish hover:underline"> Terms and Agreement</a>
                        </div>
                        <div class="pt-3 mx-auto text-center">
                            {{ form.register(class="cursor-pointer bg-pinkish text-white py-2 px-12 rounded-full font-bold hover:bg-blueish") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
