{% extends "base_forms.html" %}

{% block form_content %}
    <div class="bg-black bg-t-black p-6 xl:px-12">
        <h3 class="font-bold font-serif text-xl text-white uppercase text-blueish text-center tracking-wider">Reset Password</h3>
        <form class="" action="" method="post">
            {{ form.hidden_tag() }}
            <div class="pt-3 flex flex-col flex-wrap">
                {{ form.password.label(class="text-base md:text-sm lg:text-base font-light text-white font-light text-base text-left mb-1") }}
                {{ form.password(class="px-4 py-2 rounded-full font-bold text-sm placeholder-gray-600 lg:placeholder-whitish lg:placeholder-opacity-50 bg-whitish lg:bg-t-white border-2 border-darkish focus:bg-white focus:border-blueish focus:text-pinkish focus:outline-none lg:focus:placeholder-gray-500 text-black lg:text-white tracking-wide", placeholder="Enter a new password") }}
                {% if form.password.errors %}
                    <div class="pt-1">
                        {% for error in form.password.errors %}
                        <span class="text-redish">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="pt-3 flex flex-col flex-wrap">
                {{ form.confirm_password.label(class="text-base md:text-sm lg:text-base font-light text-white font-light text-base text-left mb-1") }}
                {{ form.confirm_password(class="px-4 py-2 rounded-full font-bold text-sm placeholder-gray-600 lg:placeholder-whitish lg:placeholder-opacity-50 bg-whitish lg:bg-t-white border-2 border-darkish focus:bg-white focus:border-blueish focus:text-pinkish focus:outline-none lg:focus:placeholder-gray-500 text-black lg:text-white tracking-wide", placeholder="Confirm new password") }}
                {% if form.confirm_password.errors %}
                    <div class="pt-1">
                        {% for error in form.confirm_password.errors %}
                        <span class="text-redish">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="pt-3 mx-auto text-center">
                {{ form.reset(class="cursor-pointer bg-pinkish text-white py-2 px-10 tracking-wide rounded-full font-bold hover:bg-blueish") }}
            </div>
        </form>
        <!-- simple copyrights -->
        <p class="text-xs text-white pt-4">&copy; my.MOOD | 2020</p>
    </div>
{% endblock form_content %}