{% extends "dashboard.html" %}

{% block dash_content %}
<!-- Account Settings -->
<div class="w-5/6 mx-auto">
    <div class="w-full flex items-center mt-4 text-gray-300">
        <button type="button" class="text-2xl rounded-full"><i class="fas fa-user-circle"></i></button>
        <h3 class="ml-3 text-lg font-bold tracking-wider uppercase">Account Settings</h3>
    </div>
    <div class="pt-6 sm:w-3/4">
        <!-- update message -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="pb-4">
                    <p class="text-{{ category }} pb-4 text-sm">{{ message }}</p>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <!-- email address -->
        <div class="bg-darker p-4 rounded-lg mb-2">
            <h4 class="text-sm font-bold tracking-wider text-gray-600">Update Email Address</h4>
            <form class="pt-2" method="post" action="">
                {{ formCEmail.hidden_tag() }}
                <div class="flex flex-col mb-1">
                    {{ formCEmail.email.label(class="pt-2 text-gray-500") }}
                    {{ formCEmail.email(class="text-sm text-gray-600 focus:text-gray-200 p-2 border-2 border-gray-800 rounded-lg bg-transparent hover:border-darkish focus:border-darkish focus:outline-none", placeholder="Enter a new email address") }}
                    {% for error in formCEmail.email.errors %}
                        <div class="pt-1">
                            <span class="text-redish">{{ error }}</span>
                        </div>
                    {% endfor %}
                </div>
                <div class="pt-3">
                    {{ formCEmail.updateEmail(class="bg-dark text-gray-300 py-2 px-4 hover:bg-blue text-sm font-bold tracking-wide rounded-lg cursor-pointer") }}
                </div>
            </form>
        </div>
        <!-- password -->
        <div class="bg-darker p-4 rounded-lg mt-3">
            <h4 class="text-sm font-bold tracking-wider text-gray-600">Change Account Password</h4>
            <form class="pt-2" method="post" action="">
                {{ formCPass.hidden_tag() }}
                <div class="flex flex-col mb-1">
                    {{ formCPass.current_password.label(class="pt-2 text-gray-500") }}
                    {{ formCPass.current_password(class="placeholder-gray-600 text-sm text-gray-600 focus:text-gray-200 p-2 border-2 border-gray-800 rounded-lg bg-transparent hover:border-darkish focus:border-darkish focus:outline-none", placeholder="Your current password") }}
                    {% for error in formCPass.current_password.errors %}
                        <div class="pt-1">
                            <span class="text-redish">{{ error }}</span>
                        </div>
                    {% endfor %}
                </div>
                <div class="flex flex-col mb-1">
                    {{ formCPass.password.label(class="pt-2 text-gray-500") }}
                    {{ formCPass.password(class="placeholder-gray-600 text-sm text-gray-600 focus:text-gray-200 p-2 border-2 border-gray-800 rounded-lg bg-transparent hover:border-darkish focus:border-darkish focus:outline-none", placeholder="New password") }}
                    {% for error in formCPass.password.errors %}
                        <div class="pt-1">
                            <span class="text-redish">{{ error }}</span>
                        </div>
                    {% endfor %}
                </div>
                <div class="flex flex-col mb-1">
                    {{ formCPass.confirm_password.label(class="pt-2 text-gray-500") }}
                    {{ formCPass.confirm_password(class="placeholder-gray-600 text-sm text-gray-600 focus:text-gray-200 p-2 border-2 border-gray-800 rounded-lg bg-transparent hover:border-darkish focus:border-darkish focus:outline-none", placeholder="Confirm new password") }}
                    {% for error in formCPass.confirm_password.errors %}
                        <div class="pt-1">
                            <span class="text-redish">{{ error }}</span>
                        </div>
                    {% endfor %}
                </div>
                <div class="pt-3">
                    {{ formCPass.updatePass(class="bg-dark text-gray-300 py-2 px-4 hover:bg-blue text-sm font-bold tracking-wide rounded-lg cursor-pointer") }}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock dash_content %}
