<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }} | my.Mood</title>
    <!-- main css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/build.css') }}">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
</head>

<body class="antialiased">
    <div class="h-screen w-full error-container flex items-center justify-center">
        <div class="w-2/3 mx-auto text-center text-white">
            <h1 class="text-pinkish text-xl mb-5">my.Mood</h1>
            <div class="mt-3 mb-5">
                {% block error %}
                
                {% endblock error %}
            </div>
            <a href="{{ url_for('users.dashboard') }}" type="button" class="hover:bg-darkish hover:border-darkish hover:text-gray-200 py-2 rounded-full px-8 border border-white">Back to Home</a>
            <p class="text-sm mt-10">&copy my.Mood | 2020</p>
        </div>
    </div>
</body>
</html>